<configuration>
	<appSettings>
		<add key="PortStreaming" value="9090"/>
		<add key="PortCommunication" value="9191"/>
		<add key ="Host" value="10.251.202.1"/>
		<add key ="AudioFilesRelativePath" value="..\..\Database\AudioFiles\"/>
		<add key ="ImageFilesRelativePath" value="..\..\Database\Images\"/>
		<add key ="DatabaseRelativePath" value="..\..\Database\serverDatabase.db"/>
	</appSettings>
</configuration>